
.question-fild {
    width: 800px;
    border-style: none;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color:#ffff;
    font-family: 'Charm', sans-serif; 
    text-align: center;
}

.question-fild-box {
    padding:10%;
    word-wrap: break-word;
    background-color:rgba(209, 185, 185, 0.6);
    font-size: 3.5em;

}

.answer-fild-box{
    width: 100%;
}

.answer-is {
    font-family: 'Charm', sans-serif;
    font-size: 1.6em;
    color: white;
    left: 80%;
    text-align: left;
    width: 660px;
    display: inline;
    font-weight: bolder;
}

.input-Prespage{
   padding:5%;
}
.answer-fild-box > input{
    background:transparent;
    border-style: solid;
    border-color: #DCDCDC;
    width: 460px;
    height: 45px;
    color: white;
    font-size: 30px;
    margin-left: 114px;
    margin-top: 25px;
    text-shadow: 4px 6px 20px #000000;
    background-color:rgba(209, 185, 185, 0.3);
}
.hidden{
    transform: translate(-100px, -120px);
}
.show{
    transform: translate(10px, 10px);
}

.btn-click {
    height: 50px;
    width: 35%;
    background: transparent;
    color: white;
    margin-top: 25px;
    font-size: 1.4em;
    border: 2px solid;
    background-color:rgba(209, 185, 185, 0.6);
}